flows.json
[{"id":"6aa273a6.2d2e2c","type":"http request","z":"8a67f517.8808d8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"basic","x":153,"y":350,"wires":[["381ac45.7db1e3c"]],"l":false},{"id":"757bf5b8.d253bc","type":"function","z":"8a67f517.8808d8","name":"pretoken","func":"global.set(\"adult\",msg.payload.adult);\nglobal.set(\"infant\",msg.payload.infant);\nglobal.set(\"percentexp\",msg.payload.percentexp);\nglobal.set(\"underfive\",msg.payload.underfive);\nglobal.set(\"totalexp\",msg.payload.totalexp);\nglobal.set(\"dip\",msg.payload.dip);\nglobal.set(\"thin1\",msg.payload.thin1);\nglobal.set(\"thin2\",msg.payload.thin2);\nglobal.set(\"income\",msg.payload.income);\nglobal.set(\"schooling\",msg.payload.schooling);\nglobal.set(\"hepatitis\",msg.payload.hepatitis);\nglobal.set(\"measles\",msg.payload.measles);\nglobal.set(\"bmi\",msg.payload.bmi);\nglobal.set(\"hiv\",msg.payload.hiv);\nglobal.set(\"gdp\",msg.payload.gdp);\nglobal.set(\"population\",msg.payload.population);\nglobal.set(\"alcohol\",msg.payload.alcohol);\nglobal.set(\"polio\",msg.payload.polio);\n\n\nvar apikey = \"6OetL4azT5vx4V0zLoDwe3EjSLLVOycKDsfaBw67AP-S\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey,\"dip\":msg.payload.dip,\"hiv\":msg.payload.hiv};\nreturn msg;","outputs":1,"noerr":0,"x":113.5,"y":216,"wires":[["35a43d16.66f222","6aa273a6.2d2e2c"]],"l":false},{"id":"381ac45.7db1e3c","type":"function","z":"8a67f517.8808d8","name":"","func":"var token=msg.payload.access_token;\nvar instance_id = \"df4a4185-93cc-43ac-871f-5f6963b50de9\";\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n\n\nvar a = global.get(\"adult\");\nvar b = global.get(\"infant\");\nvar c = global.get(\"percentexp\");\nvar d = global.get(\"underfive\");\nvar e = global.get(\"totalexp\");\nvar f = global.get(\"dip\");\nvar g = global.get(\"thin1\");\nvar h = global.get(\"thin2\");\nvar i = global.get(\"income\");\nvar j = global.get(\"schooling\");\nvar k = global.get(\"hepatitis\");\nvar l = global.get(\"measles\");\nvar m = global.get(\"bmi\");\nvar n = global.get(\"hiv\");\nvar o = global.get(\"gdp\");\nvar p = global.get(\"population\");\nvar q = global.get(\"alcohol\");\nvar r = global.get(\"polio\");\n\nmsg.payload ={\n                \"fields\":[\"Adult Mortality\", \"infant deaths\",\n                        \"percentage expenditure\", \"under-five deaths \", \"Total expenditure\",\n                        \"Diphtheria \", \" thinness  1-19 years\", \" thinness 5-9 years\",\n                        \"Income composition of resources\", \"Schooling\", \"Hepatitis\", \"Measles \",\n                        \" BMI \", \" HIV\", \"GDP\", \"Population\", \"Alcohol\", \"Polio\"],\n                \"values\" :[[a,b,c,d,e,f,g,h,i,j,k,l,m,n,o,p,q,r]]\n};\nreturn msg;","outputs":1,"noerr":0,"x":383.5,"y":355,"wires":[["6b5f5398.02968c"]],"l":false},{"id":"da13c959.f943e8","type":"function","z":"8a67f517.8808d8","name":"","func":"var value=Math.round(msg.payload.values[0][0]);\nmsg.payload =value;\nreturn msg;","outputs":1,"noerr":0,"x":548.5,"y":153,"wires":[["cf64b085.533c5","7febaf55.c5594"]],"l":false},{"id":"35a43d16.66f222","type":"debug","z":"8a67f517.8808d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":377.5,"y":152,"wires":[],"l":false},{"id":"6b5f5398.02968c","type":"http request","z":"8a67f517.8808d8","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/df4a4185-93cc-43ac-871f-5f6963b50de9/deployments/03bf001e-fab9-4f0f-bd01-67e09a2d1635/online","tls":"","persist":false,"proxy":"","authType":"","x":478.5,"y":252,"wires":[["da13c959.f943e8","b57510ea.70051"]],"l":false},{"id":"cf64b085.533c5","type":"debug","z":"8a67f517.8808d8","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":724.5,"y":95,"wires":[],"l":false},{"id":"b57510ea.70051","type":"debug","z":"8a67f517.8808d8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":706.5,"y":361,"wires":[],"l":false},{"id":"bece71c5.fbb21","type":"ui_form","z":"8a67f517.8808d8","name":"","label":"","group":"85941820.066778","order":3,"width":0,"height":0,"options":[{"label":"Adult Morality Rate","value":"adult","type":"number","required":true,"rows":null},{"label":"Infant Deaths","value":"infant","type":"number","required":true,"rows":null},{"label":"Percentage Expenditure","value":"percentexp","type":"number","required":true,"rows":null},{"label":"Under five deaths","value":"underfive","type":"number","required":true,"rows":null},{"label":"Total Expenditure","value":"totalexp","type":"number","required":true,"rows":null},{"label":"Diptheria","value":"dip","type":"number","required":true,"rows":null},{"label":"Thinness 1-19","value":"thin1","type":"number","required":true,"rows":null},{"label":"Thinness 5 - 9","value":"thin2","type":"number","required":true,"rows":null},{"label":"Income composition of resources","value":"income","type":"number","required":true,"rows":null},{"label":"Schooling","value":"schooling","type":"number","required":true,"rows":null},{"label":"Hepatitis","value":"hepatitis","type":"number","required":true,"rows":null},{"label":"Measles","value":"measles","type":"number","required":true,"rows":null},{"label":"BMI","value":"bmi","type":"number","required":true,"rows":null},{"label":"HIV","value":"hiv","type":"number","required":true,"rows":null},{"label":"GDP","value":"gdp","type":"number","required":true,"rows":null},{"label":"Popualation","value":"population","type":"number","required":true,"rows":null},{"label":"Alcohol","value":"alcohol","type":"number","required":true,"rows":null},{"label":"Polio","value":"polio","type":"number","required":true,"rows":null}],"formValue":{"adult":"","infant":"","percentexp":"","underfive":"","totalexp":"","dip":"","thin1":"","thin2":"","income":"","schooling":"","hepatitis":"","measles":"","bmi":"","hiv":"","gdp":"","population":"","alcohol":"","polio":""},"payload":"","submit":"predict","cancel":"cancel","topic":"Predicting Life Expectancy","x":75,"y":92,"wires":[["757bf5b8.d253bc"]],"l":false},{"id":"7febaf55.c5594","type":"ui_text","z":"8a67f517.8808d8","group":"34ddcdb1.ccafb2","order":0,"width":0,"height":0,"name":"","label":"Prediction : ","format":"{{msg.payload}}","layout":"row-left","x":760,"y":200,"wires":[]},{"id":"85941820.066778","type":"ui_group","z":"","name":"Predict","tab":"71652889.c0f0e8","order":1,"disp":true,"width":"6","collapse":false},{"id":"34ddcdb1.ccafb2","type":"ui_group","z":"","name":"Predict","tab":"71652889.c0f0e8","order":2,"disp":true,"width":"6","collapse":false},{"id":"71652889.c0f0e8","type":"ui_tab","z":"","name":"Predict Life Expectancy","icon":"dashboard","disabled":false,"hidden":false}]